<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Customer</title>
</head>
<body>
<a th:href="@{/create-customer}">Create new Customer</a><br>
<a th:href="@{/provinces}" style=" color: gold" >Go to list Province </a>
<h1>Customers</h1>
<form>
    <p>Search by first name</p>
    <input name="s" type="text">
    <input type="submit" value="Search">
</form>
<table border="1">
    <tr>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Province</td>
        <td>Edit</td>
        <td>Delete</td>
    </tr>
    <th:block th:each="customer : ${customers}">
        <tr>
        <td th:text="${customer.firstName}"></td>
        <td th:text="${customer.lastName}"></td>
            <td th:text="${customer.province.name}"></td>
            <td><a th:href="@{/edit-customer/__${customer.id}__ }">Edit</a></td>
            <td><a th:href="@{/delete-customer/__${customer.id}__ }">Delete</a></td>
        </tr>
    </th:block>
</table>
<div>
    <a th:href="@{'customers'(page=${customers.number-1})}" th:if="${customers.hasPrevious()}">Previous</a>
    <span th:text="${customers.number+1}"></span>/<span th:text="${customers.totalPages}"></span>
    <a th:href="@{'customers'(page=${customers.number+1})}" th:if="${customers.hasNext()}">Next</a>
</div>
</body>
</html>